<link rel="stylesheet" href="/css/styles.css">

<div class="center">
    <h2>Sign up</h2>
    <form action="/logout" method="post" >
        <label>Вы действительно хотите выйти?</label>
        <button>Выйти</button>
    </form>
</div>