<link rel="stylesheet" href="/css/styles.css">

<div class="center">
    <h2>Send New Message</h2>
    <form action="/new-message" method="post">
        <input placeholder="Title" name="title"/>
        <input placeholder="Message Text" name="message"/>
        <button>Send</button>
    </form>
</div>