* {
    margin: 0;
    padding: 0;
}

header {
    width: 100vw;
    height: 75px;
    background-color: #818D92;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h3 {
    color: #DAD4EF;
    padding-left: 30px;
}

.signs a{
    text-decoration: none;
    color: azure;
    padding-right: 30px;
}

main {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.messages {
    margin-top: 50px;
    display: flex;
    width: 1000px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
}

.message {
    width: 800px;
    min-height: 100px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
    padding-top: 15px;
    padding-left: 15px;
}

.new-message {
    display: flex;
    width: 100vw;
    height: 75px;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 50px;
}

.new-message a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 25px;
}

.new-message p {
    color: #333;
}

.center {
    padding-top: 50px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 550px;
    gap: 20px;
}

form input {
    width: 400px;
    height: 50px;
}

form button {
    width: 400px;
    height: 50px;
}